<!DOCTYPE html>
<html>
  <head>
    <title>Red Property</title>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <%= render 'layouts/navbar' %>

    <%= yield %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvDpqfmH02cwlCdz91pzSpPZ6omFlH6ao&libraries=places,geometry&callback=initMap"></script>
  </body>
</html>
